PORT=3000

AWS_REGION=ap-south-1

COGNITO_USER_POOL_ID=

COGNITO_CLIENT_ID=

COGNITO_CLIENT_SECRET=

COGNITO_DOMAIN=

COGNITO_REDIRECT_URI=https://chatui.org/callback

COGNITO_LOGOUT_URI=https://chatui.org

SESSION_SECRET=<randomhexacode>
